.wtmm-icon-service { background-image: url('mattermost.svg') !important; background-size: contain; }
.wtmm-icon-service-xs { background-image: url('mattermost.svg') !important; background-size: contain; }
.wtmm-icon-service-s { background-image: url('mattermost.svg') !important; background-size: contain; }
.wtmm-icon-service-m { background-image: url('mattermost.svg') !important; background-size: contain; }
.wtmm-icon-service-l { background-image: url('mattermost.svg') !important; background-size: contain; }
